@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Bold.woff2') format('woff2'),
        url('../font/Poppins-Bold.woff') format('woff'),
        url('../font/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

